/*******************************************
FONTS
*******************************************/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800);
@import url(https://fonts.googleapis.com/css?family=Droid+Sans:400,700);
/*******************************************
SETTINGS
*******************************************/
@charset "utf-8";
@-webkit-viewport   { width: device-width; }
@-moz-viewport      { width: device-width; }
@-ms-viewport       { width: device-width; }
@-o-viewport        { width: device-width; }
@viewport           { width: device-width; }
/*******************************************
BODY
*******************************************/
body{
  font-family: 'Open Sans', Arial, Tahoma;
  font-weight: 400;
  font-size: 1em;
  color: #363636;
  background: #ededed;
}

.links {
    text-decoration: none;
    color: #363636;
    cursor: default;
}

.links:hover {
    text-decoration: none;
    color: #EC7263;
    cursor: default;
}


#name {
  font-family: 'Open Sans', Arial, Tahoma;
  font-weight: 700;
}

.pdf {
  float: right;
  font-weight: 400;
  font-size: 55%;
}

.pdf:before{
  content: "\f0ed";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  font-size: 60%;
}

#icons{
  line-height: 1.0;
  margin-top: 0;
}
/*******************************************
CONTAINER
*******************************************/
.container{
  margin-top: 80px;
  margin-bottom: 15px;
  background: #fff;
}

/*******************************************
DEFAULT BOX
*******************************************/
.box{
  margin-bottom: 15px;
}
.box h2{
  color: #EC7263;
  font-size: 1.8em;
  font-weight: 700;
  text-transform: uppercase;
}
.box h2:before{
  content: '/';
  margin-right: 5px;
}
.box p{
  font-size: 1.3em;
  line-height: 1.5em;
}

/*******************************************
EXPERIENCES
*******************************************/
.job{
  margin-bottom: 15px;
}
.job .year{
  font-size: 1.2em;
  opacity: 0.7;
}
.job .profession{
  font-size: 1.6em;
  font-weight: bold;
}
.job .description{
  font-size: 1.2em;
  line-height: 1.5em;
}

/*******************************************
SCHOOL
*******************************************/

.school{
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: -5px;
  padding: 2px 5px 2px 30px;
  background: #95a5a6;
  position: relative;
  font-size: 1.2em;
}

.school:hover{
  background: #7f8c8d;
}

.school:before{
  content: "\f19c";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  top: 7px;
  left: 8px;
}

.job .degree{
  font-size: 1.2em;
  color: #fff;
}

/*******************************************
SKILLS
*******************************************/
.item-skills{
  height: 30px;
  background: #F0563D;
  color: #fff;
  padding: 5px 10px;
  margin-bottom: 5px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.3em;
  font-weight: 600;
}
.item-skills:hover{
  background: #f39c12;
}
.skills-legend{
  margin-top: 20px;
  opacity: 0.8;
}
.skills-legend:before{
  width: 100%;
  height: 3px;
  position: relative;
  content: ' ';
  display: block;
  margin-bottom: -13px;
  background: #c6c6c6;
}
.skills-legend div{
  width: 25%;
  display: inline-block;
  font-size: 1.2em;
  color: #a9a9a9;
  float: left;
}
.legend:before{
  width: 3px;
  height: 10px;
  position: relative;
  content: ' ';
  display: block;
  margin: auto;
  margin-bottom: 15px;
  background: #c6c6c6;
}
.legend-left.legend:before{
  margin-left: 0;
}
.legend-right.legend:before{
  margin-right: 0;
}
.legend-left:nth-child(2) span{
  margin-left: -25px;
}
.legend-right:nth-child(3) span{
  margin-right: -20px;
}
.legend-right{
  text-align: right;
}

/*******************************************
THINGS I LOVE
*******************************************/
.hobby{
  color: #fff;
  display: inline-block;
  margin-right: 5px;
  margin-bottom: 5px;
  padding: 5px 5px 5px 25px;
  background: #A75265;
  position: relative;
  font-size: 1.2em;
}

.hobby:hover{
  background: #34495e;
}
.hobby:before{
  content: "\f004";
  font-family: FontAwesome;
  font-style: normal;
  font-weight: normal;
  position: absolute;
  top: 6px;
  left: 7px;
}

/*******************************************
MEDIA
*******************************************/
@media (min-width: 500px) {
  #education .description{
    width: 85%;
  }
}
@media (min-width: 768px) {
  #education .description{
    width: 85%;
  }
}
@media (min-width: 992px) {
  #education .description{
    width: 87%;
  }
}
@media (min-width: 1200px) {
  #education .description{
    width: 90%;
  }
}
