.constrain {
    max-width: 640px;
    margin: auto
}

#elstory-article-1 {
    background-image: url(../Images/Classroom.jpeg)
}

#consumer-article-1 {
    background-image: url(../Images/Towel.jpg)
}

#twitter-article-1 {
    background-image: url(../Images/Classroom.jpg)
}

.navbar {
    margin-bottom: 0px;
    border-radius: 0px;
}

.navbar-brand {
    font-family: Lato;
    font-size: 20px;
    text-transform: uppercase;

}

.navbar-right {
    font-family: Lato;
    text-transform: uppercase;
    font-size: 12px;
}

.hightide {
    font-family: HighTide;
}

#home-top-stories {
    margin-top: -1px;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a, .navbar-inverse .navbar-nav .open .dropdown-menu {
    color: #fff;
    font-size: 12px;
    background-color:#222;
    border-color:#080808;
}

.navbar-inverse .navbar-nav .open .dropdown-menu>li>a:hover {
    background-color:#000;
}

.about {
    body {
        background: url('../Images/NYC%20Night%20Blur.jpeg') no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        color:#fff;
        background-color:#333;
        font-family: 'Open Sans',Arial,Helvetica,Sans-Serif;
    }

}
#home-top-stories {
    border-top: 1px solid #e2e2e2
}
#home-top-stories .article {
    border-bottom: 10px solid #000;
    background-color: #a1a1a1;
    background-position: 70% 30%;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 250px;
    position: relative;
    cursor: pointer
}
#home-top-stories .article:hover:before {
    background: rgba(0, 0, 0, .50)
}
#home-top-stories .article:before {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, .75);
    -webkit-transition: background .5s ease;
    -moz-transition: background .5s ease;
    -o-transition: background .5s ease;
    -ms-transition: background .5s ease;
    transition: background .5s ease
}
#home-top-stories .article .constrain {
    position: relative;
    top: 50%;
    left: 50%;
    margin-left: -320px;
    -webkit-transform: translateY(-50%);
    -moz-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    -o-transform: translateY(-50%);
    transform: translateY(-50%)
}

#home-top-stories .article-title {
    color: #fff;
    font-size: 2em;
    font-family: AdelleBold, 'Helvetica Neue', sans-serif;
    line-height: 1.5
}
@media only screen and (max-width: 599px) {
    #home-top-stories .article-title {
        line-height: 1.3em;
        font-size: 1.1em
    }
}
#home-top-stories .article-title a {
    color: #fff;
    text-decoration: none
}

article {
    margin: 0;
    padding: 0;
    border: 0;
    font: inherit;
    vertical-align: baseline
}

article {
    display: block
}
