<!DOCTYPE html>
<html class="html" dir="ltr" lang="en-US">
  <head>
      <link rel="stylesheet" href="bootstrap/css/bootstrap.min.css">
      <link rel="stylesheet" href="css/style.css"/>
      <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=PT+Serif:400,700,400italic">
      <meta name="google-site-verification" content="Modern Manifest." />
      <meta name="msvalidate.01" content="" />
      <meta name="description" content="Modern Manifest."/>
      <meta property="og:title" content="Modern Manifest"/>
      <meta property="og:type" content="website"/>
      <meta property="og:url" content="http://modmanifest.com"/>
      <meta property="og:description" content="Modern Manifest."/>
      <meta property="og:locale" content="en_US"/>
      <meta property="og:site_name" content="Modern Manifest"/>
      <meta property="twitter:card" content="summary"/>
      <meta property="twitter:title" content="Modern Manifest"/>
      <meta property="twitter:url" content="http://modmanifest.com"/>
      <meta property="twitter:description" content="Modern Manifest."/>
      <meta property="twitter:site" content="@qz"/>
      <script type="text/javascript" src="JS/jquery.min.js"></script>
      <script type="text/javascript" src="JS/bootstrap.min.js"></script>
      <script type="text/javascript" src="JS/main.js"></script>
  </head>

  <body class="body">
      <nav class="navbar navbar-inverse">
          <div class="container-fluid">
              <div class="navbar-header">
                  <a class="navbar-brand" href="{{ site.url }}"><span class="hightide"> N</span>ick <span class="hightide"> W</span>eiland</a>
              </div>
          </div>
      </nav>
