.allthat-list {
  line-height: 2.0;
}

.allthat {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;

  a {
    color: #2980b9;
    font-weight: bold;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
  }

  span {
    font-size: 80%;
    font-weight: 400;
    color: #505050;
    opacity: 90;
    letter-spacing: 0;
  }
}

.allthatmovies {
  margin-top: 0;
  margin-bottom: 0;
  color: #505050;

  a {
    color: #16A085;
    font-weight: bold;
  }

  small {
    font-size: 75%;
    font-weight: 400;
    color: #c0c0c0;
    letter-spacing: 0;
  }

  span {
    font-size: 80%;
    font-weight: 400;
    color: #505050;
    opacity: 90;
    letter-spacing: 0;
  }
}
