<!DOCTYPE html>
<html lang="en">

  {% include head.html %}

  <body>

    <div class="container content">
      <header class="masthead">
        <h1 class="masthead-title">
          <a href="{{ site.baseurl }}/" title="Home">{{ site.title }}</a>
          <small>a website</small>
        </h1>
      </header>

      <main>
      <span class="element" id="landing" style="white-space:pre"></span><br><br>
      </main>
      <div id="landing">I write <a href="https://github.com/weilandia">code</a> and <a href="https://twitter.com/weilandia">comment</a> on things.<br>Sometimes I write longer <a href="http://weilandia.github.io/blog.html">comments</a>.<br>I used to teach math in a <a href="https://en.wikipedia.org/wiki/Detroit">badass city</a>.<br>I love surfing though, so heading towards a coast.<br>I have one of those <a href="/resume.html">resume</a> things, if you're into that.</div>

      <footer class="footer">
        <small>
        </small>
      </footer>
    </div>

  </body>
</html>
